#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 499px) {
    flex-direction: column-reverse;
    row-gap: 15pt;
    margin-top: 10pt;
    padding-inline: 15pt;
    align-items: center;
  }

  #reset {
    display: flex;
    justify-content: center;
    width: 90pt;
    height: 35pt;
    padding-top: 6pt;
    font-size: 25pt;
    font-weight: 700;
    align-items: center;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;

    @media (max-width: 1023px) {
      cursor: unset;
    }
  }

  #instruction {
    display: flex;
    font-size: 17pt;
    align-items: center;
    color: #ffffff;
  }
}
